@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --headerBackground: '#1B3664';
  --headerParagraphTexts: '#B4C7E7';
  --white: '#FFFFFF';
  --CTA: '#FFCA42';
  --background: '#F6F8FC';
  --mainPGParagraphTxt: '#969AA0';
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  background: var(--background);
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;
}

div.root {
  min-height: 100vh;
  width: 100%;
}

ul {
  > li {
    transition: padding 0.5s ease;
  }
}

button {
  font-family: 'Cardo', serif;
}
