@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html,
body {
  background: var(--background);
  scroll-behavior: smooth;
  min-height: 100vh;
  width: 100%;
}

:root {
  --headerBackground: '#1B3664';
  --headerParagraphTexts: '#B4C7E7';
  --white: '#FFFFFF';
  --CTA: '#FFCA42';
  --background: '#F6F8FC';
  --mainPGParagraphTxt: '#969AA0';
}

div.root {
  min-height: 100vh;
  width: 100%;
}

button,
h2,
label,
i {
  font-family: 'Cardo', serif;
}
